<!-- task-list.component.html -->
<div class="container mt-4">
  <h2>Lista de tareas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Completado</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          <input type="checkbox" [(ngModel)]="task.completed" [(ngModel)]="task.completed" />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteTask(task.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
